.ui-content {
    padding: 0 !important;
}

.ui-listview {
    margin: 0 !important;
}

.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}

.decorateQuetion{
	background-color: #9FA8DA;
	padding: 20px;
	border-radius: 5px 5px 0px 0px ;

}
.decorateAnswer{
	background-color: #C5CAE9;
	padding: 20px;
	margin-top: -20px;
	border-radius: 0px 0px 25px 25px;

}
.adjustPadding{
	margin-bottom: 100px;
}